.pic-area {
  background: #66ccff;
}

.dia-area {
  background: grey;
}

.dialog {
  height: 21px;
}

.ava-area {
}

.avatar {
  width: 80%;
  max-width: 200px;
  border: none;
}

.scene {
  width: 75%;
}
